:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  color: rgb(50, 50, 50);
}

* {
  margin: 0
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  font-size: 100%;
  min-width: 320px;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  background-image: url('assets/blocks.jpg'); 
  background-repeat: no-repeat;
  background-size: cover;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}


